@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
body{
background-color: lightcyan;
color: pink;
width: 100%;
border: 66px double white;
padding-left: 100px; 
padding-right: 100px;
padding-bottom: 50px;
padding-top: 50px;
font-family: 'Kalam', cursive;
}
h1{
color: pink;
}
h3.solid {border-style: solid;}
div {
margin-top: 80px;
margin-bottom: 80px;
margin-right: 150px;
margin-left: 80px;
padding-right: 30px;
padding-left: 50px;
}
.clearfix {
  overflow: auto;
}
/* Large rounded aquamarine border */
/*hr {
border: 4px solid aquamarine;
border-radius: 5px;
width: 50%;
}*/